/* Main Content */
.main-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
}

/* Paneles de usuario y chat */
.users-panel {
    border: 1px solid #d2d2d7;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-panel {
    border: 1px solid #d2d2d7;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado del panel */
.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Lista de usuarios */
.user-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex-grow: 1;
}

/* Icono de usuario */
.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace que sea redondo */
    background-color: #f0f0f5; /* Color de fondo similar al perfil */
    border: 1px solid #d2d2d7; /* Bordes suaves */
    display: inline-block;
    overflow: hidden; /* Asegura que cualquier imagen se ajuste dentro del círculo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para el efecto de profundidad */
}

.user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
    border-radius: 50%; /* Mantiene el borde redondeado en las imágenes también */
}

/* Mensajes de chat */
.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    padding-bottom: 10px;
}

/* Estilo de los mensajes (como mensajes de Apple) */
.message {
    background-color: #e5e5ea;
    padding: 12px 18px;
    border-radius: 20px;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 80%;
    margin-bottom: 8px;
}

/* Mensaje enviado por el usuario (con fondo azul claro) */
.message.sent {
    background-color: #007aff;
    color: white;
    align-self: flex-end;
}

/* Mensaje recibido (con fondo gris claro) */
.message.received {
    background-color: #f0f0f5;
    color: black;
    align-self: flex-start;
}

/* Botón de inicio */
.start-button {
    padding: 12px 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 130px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Información del reto */
.challenge-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Panel Header - Íconos clickeables */
.panel-header span:last-child {
    cursor: pointer;
}

.info{
    margin-top: 40px;
}